p{
	/*Notes for CSS*/
	color:#9b4007;
	font-family: helvetica;
	font-weight: bold; /* or can be provided as Number like 700,800 */
	font-size: 2em;

	border: 4px solid red;
	padding: 10px;
	margin: 100px;
	
}
h1{
	font: italic bold 36px helvetica;
	color:rgba(134, 137, 214,0.4); /*Check it from google color picker, rgba(,a), a stands for transperance*/
}